<h1>Create Publisher's page</h1>

<%= form_for(@publisher, :html => { :multipart => true}) do |f| %>
  <%= render 'layouts/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :info %><br />
    <%= f.text_area :info %>
  </div>
  
  <div class="actions">
    <%= f.submit "Create" %>
  </div>
<% end %>
