<!DOCTYPE html>
<html>
<head>
 <title><%= title %></title>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
   <%= javascript_include_tag "application" %>
   <%= csrf_meta_tags %>
   <%= render 'layouts/stylesheets' %>

</head>
<body>
    <div class="container"> 
      <%= render 'layouts/header' %>

        <% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%= value %></div>
        <% end %>
        <%= yield %>
      
      <%= render 'layouts/footer' %>
     <%= debug(params) if Rails.env.development? %>
    </div>
</body>
</html>
